/* Generals */
body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/* font: 15px/1.5 Arial, Helvetica, sans-serif; */
	background-color: #141d26;
	color: white;
/*	background-image: url("https://images.pexels.com/photos/416974/pexels-photo-416974.jpeg?cs=srgb&dl=adventure-asphalt-clouds-416974.jpg&fm=jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: 0;
	background-size: cover;*/
}

#blocpage {
	height: 100%;
	width: 100%;
}

.container {
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	word-break: break-word;
	text-align: center;
	border-radius: 10px 10px 2px 2px;
	color: white;
	box-shadow: 0px 3px 5px black, inset 0px 5px 15px black;
}

/* Pour les list en général */
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Style du header */
.wrapper {
	padding: 0 1em 0 1em;
	display: grid;
	grid-template-areas: "info title title img";
	grid-auto-rows: minmax(80px, auto);
	grid-column-gap: 0.5em;
	min-height: 80px;
	margin: 5px;
}

.wrapper .tel {
	display: block;
	font-weight: 600;
	color: white;
}

.title {
	color: white;
}

.main__title {
	height: 100%;
	color: white;
}

.adresse{
	color: green;
}

.box__info {
	grid-area: info;
	line-height: 1.2em;
	min-width: 194px;
}

.box__title {
	grid-area: title;
	min-width: 194px;
}

.box__img {
	grid-area: img;
	display: grid;
	grid-template-areas: "accueil";
	grid-column-gap: 3px;
	align-items: center;
	margin-top: 5px;
}

.inbox__accueil {
	grid-area: accueil;
}

.inbox__accueil img {
	cursor: pointer;
}

.inbox__citroen {
	grid-area: citroen;
}

.inbox__moto {
	grid-area: moto;	
}

.inbox__accueil img {
	width: 220px;
	height: 120px;
	margin: 5px;
}

.inbox__citroen img {
	width: 150px;
	height: 100px;
}

.inbox__moto img {
	min-width: 101px; /* pour mettre la photo de la taille du numéro de téléphone */
	height: 100px;
}


/* Style du nav */
nav .container {
	box-shadow: none;
}

.navbar {
	background-color: #141d26;
	display: grid;
	grid-template-columns: repeat(2, 1fr) 2fr repeat(3, .66fr);
	box-shadow: none;
	grid-column-gap: 0.2em;
}

.navbar .navbtn {
	background-color: #1b2836;
	display: block;
	padding: 5px;
	margin-top: 1px;
	border-radius: 10px 10px 10px 10px;
	font-weight: bold;
	min-height: 30px;
	border-bottom: 2px solid green;
	box-shadow: inset 0px 2px 15px black,inset 0px 0px 5px black;
	cursor: pointer;
	text-decoration: underline;
	transition: border 0.2s linear, box-shadow 0.2s linear, color 0.2s linear, transform 0.1s linear;
	transform: translate(-1px, -1px);
}

.navbtn:hover {
	text-decoration: none;
	color: black;
	box-shadow: inset 0px 0px 10px black;
	transform: translate(0, 0);
}

/* Section */

.section {
	border-radius: 10px;
	height: 40vh;

}

section{
	display: flex;
	position: relative;
	margin-bottom: 10px;
}

.bloc1 {
	background-color: #141d26;
	box-shadow: inset 0px 2px 15px black,inset 0px 0px 5px black;
	border-radius: 100px 0 0px 100px;
	border-left: 2px solid green;
	display: inline-block;
	height: 40vh;
	width: 70vw;
	position: relative;
	left: 10vw;
	transition: transform 1s ease, border-radius 1.5s ease;
}

.bloc1 > img {
	display: none;
	align-self: center;
	width: 200px;
	height: 140px;
}

.bloc1:hover {
	transform: translate(-10vw);
	border-radius: 10px 0 0 10px;
}

.bloc1:hover img{
	display: inline-block;
}

.bloc2 {
	z-index: 1;
	background-color: #1b2836;
	box-shadow: inset 0px 2px 15px black,inset 0px 0px 5px black;
	display: block;
	height: 40vh;
	width: 20vw;
	position: relative;
}

.driving {
	width: 200px;
	height: 150px;
}

.bloc3 {
	background-color: #141d26;
	box-shadow: inset 0px 2px 15px black,inset 0px 0px 5px black;
	border-radius: 0 100px 100px 0;
	border-right: 2px solid green;
	display: inline-block;
	height: 40vh;
	width: 70vw;
	position: relative;
	right: 10vw;
	transition: transform 1s ease, border-radius 1.5s ease;
}

.bloc3:hover {
	transform: translate(10vw);
	border-radius: 0;
}

.bloc3:hover .bloc1{
	transform: translate(-15px);
}

.bloc3 > img {
	align-self: center;
	width: 120px;
	height: 100px;
}

/* Pour le footer */
.footer{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center; /* ajouté */
}

.footer div:nth-child(2n) {
	padding: 0 .5em;
	display: block;
	background-color: #141d26;
	box-shadow: 0px 3px 5px black, inset 0px 5px 15px black;
}

.info3 {
	border-radius: 0px 10px 2px 2px;
}

.agrement {
	grid-column: 1/4;
	font-style: italic;
	background-color: #141d26;
	margin: 0;
	box-shadow: inset 0px 0px 10px black;
}

/* Ajout menu déroulant */
.footer > li, ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.dropdown {
	position: relative;
	overflow-y: auto;
	display: inline-block;
	margin: 10px;
}

.dropdown::-webkit-scrollbar {
	display: none;
}

.dropdown:hover, .dropdown:active {
	margin-bottom: 7px;
	height: 10em;
	box-sizing: border-box;
}

.dropbtn {
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	min-height: 30px;
	box-shadow: inset 0px 2px 15px black,inset 0px 0px 5px black;
	cursor: default;
	position: relative;
	text-align: center;
	text-decoration: underline;
	border: none;
	word-wrap: break-word;
	border-bottom: 2px solid green;
	transition: padding 0.7s linear, color 0.7s linear;
}

.dropdown:hover .dropbtn {
	text-decoration: none;
	color: black;
	box-shadow: none;
	border-bottom: none;
}

.text__info {
	font-weight: 600;
	padding-left: 16px;
}

.dropdown:hover .text__info {
	padding-left: 0px;
}

.dropdown:hover {
	border-bottom: 2px solid green;
	border-radius: 10px 10px 10px 10px;
	box-shadow: inset 0px 2px 15px black,inset 0px 0px 5px black;
}

.dropdown:hover .dropdown__content {
	border-top: 2px solid green;
	border-radius: 10px 10px 10px 10px;
	box-shadow: inset 0px 2px 15px black;
}

.arrow {
	display: inline-block;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 7px solid green;
	transition: border 500ms ease-in-out;
	animation: rebond 1.5s ease infinite;
}

/* Animation flèche */
@keyframes rebond {
	0% {
		transform: translate(0, -3px);
	}

	50% {
		transform: translate(0,0);
	}

	100% {
		transform: translate(0, -3px);
	}
}

.dropdown:hover .arrow {
	border: 0px solid ;
}

.dropdown__content {
	display: none;
	z-index: 10;
}

.dropdown:hover .dropdown__content, .dropdown:active .dropdown__content {
	display: block;
}

.dropdown__content a {
	margin: 0.5em 10%;
	text-decoration: underline;
	cursor: pointer;
	color: white;
	height: 80%;
	display: inline-block;
	text-align: center;
	word-wrap: break-word;
}
/* Fin d'ajout menu déroulant */

/* Media queries */
@media (max-width: 960px) {

	/* Style du header */
	.wrapper {
		grid-template-areas: "title"
		"info" 
		"img";
		padding: 1em 1em 1em 1em;
		border-radius: 1em 1em 2px 2px;
	}

	.inbox__accueil {
		display: none;
	}

	.footer {
		display: inline-block;
	}

	/* Style de la navbar */
	.navbar {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-row-gap: 0.4em;
	}

	.dropdown{
		width: 70%;
	}
}

@media (max-width: 700px) {

	/* Style de la navbar */
	.navbar {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		grid-row-gap: 0.4em;
	}

	.navbar .navbtn {
		transform: none;
		box-shadow: inset 0px 0px 10px black;
	}

	.dropbtn {
		box-shadow: inset 0px 0px 10px black;

	}

	/* Footer */
	.footer {
		display: inline-block;
	}

	.text__info {
		padding: 0;
	}
}